<!-- header.html -->
<header>
  <div class="nav-wrapper">
    <!-- Home link -->
    <a href="https://benshindel.github.io" class="home-link">Ben Shindel</a>
    
    <!-- Hamburger Menu Button -->
    <button id="menu-toggle" aria-label="Toggle navigation">
      <span class="hamburger-icon">☰</span>
    </button>
    
    <!-- Navigation links -->
    <nav> id="mobile-menu">
      <a href="/about/">About</a>
      <a href="https://benshindel.substack.com/" target="_blank">Blog</a>
      <a href="https://crosshare.org/benshindel" target="_blank">Crosswords</a>
    </nav>
    <!-- Light/Dark mode toggle button -->
    <button id="mode-toggle" aria-label="Toggle dark mode"><span class="toggle-icon">☀️</span></button>
  </div>
</header>
