<!-- default.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: "Ben Shindel" }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="/assets/js/darkmode.js" defer></script>
  <link rel="icon" type="image/x-icon" href="{{ site.favicon | default: '/favicon.png' }}">
</head>
<body>
  {% include header.html %}
  <main class="content">
    {{ content }}
  </main>
  {% include footer.html %}
</body>
</html>
